<div id="app">
  <p>Nome: {{ nome }}</p>
  <p>Idade: {{ idade }}</p>

  <button @click="incrementarIdade">Fazer Aniversário</button>

  <p v-if="logado">Você está logado</p>
  <p v-else>Faça login</p>

  <ul>
    <li v-for="n in 5" :key="n">Item {{ n }}</li>
  </ul>
  <p>Olá {{ nome }}</p>
</div>

<script>
  const app = Vuei.createApp({
    data() {
      return {
        nome: 'Anna Clara',
        idade: 10
        
      }
    },
    methods: {
      incrementarIdade() {
        this.idade++
      }
    }
  })
</script>